<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>nemchina_explorer</display-name>
  	<welcome-file-list>
    	<welcome-file>blocklist.html</welcome-file>
  	</welcome-file-list>
   	<servlet>
		<servlet-name>InitTables</servlet-name>
		<servlet-class>com.nemchina.explorer.init.InitTables</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>InitDataFromNIS</servlet-name>
		<servlet-class>com.nemchina.explorer.init.InitDataFromNIS</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FetchSuperNode</servlet-name>
		<servlet-class>com.nemchina.explorer.fetch.FetchSuperNode</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
</web-app>